<div class="content-wrapper">
  <div class="main-content">
      <div class="container-fluid">
          <div class="boxes">
            <div>
                  <div class="row" >
                      <div class="col-md-10">
                      
                          <form class="form" (ngSubmit)="addUpdateProfile('update')">
                                <div class="col-sm-12 file-upload">
                                    <div class="form-group row">
                                            <img *ngIf="user.imageUrl && user.imageUrl != 'string' && user.imageUrl != ' '" width=300 height=300 src="{{user.imageUrl}}" />
                                            <img *ngIf="!user.imageUrl || user.imageUrl == 'string' || user.imageUrl == ' '" width=300 height=300 src="/assets/img/avatar-v2-black.png" />
                                    </div>
                                </div>
                                    

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="">{{'First Name' | translate}}</label>
                                        <input [(ngModel)]="user.firstName" name="firstName" type="text" class="form-control rounded-0" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">{{'Last Name' | translate}}</label>
                                        <input [(ngModel)]="user.lastName" name="lastName" type="text" class="form-control rounded-0" required>
                                    </div>
                                </div>

                              <div class="form-group">
                                  <div class="col-md-6">
                                      <label for="">{{'Email' | translate}}</label>
                                      <input [(ngModel)]="user.email" name="email" type="text" class="form-control rounded-0" required>
                                  </div>
                                  <div class="col-md-6">
                                      <label for="">{{'Password' | translate}}</label>
                                      <input [(ngModel)]="user.password" name="password" type="password" class="form-control" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-6">
                                      <label for="">{{'Address' | translate}}</label>
                                      <input [(ngModel)]="user.address" name="address" type="text" class="form-control rounded-0" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-6">
                                      <label for="">{{'City Code' | translate}}</label>
                                      <input [(ngModel)]="user.cityCode" name="cityCode" type="text" class="form-control rounded-0" required>
                                  </div>
                              </div>
                               <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="">{{'Phone Number' | translate}}</label>
                                        <input [(ngModel)]="user.phoneNumber" name="phoneNumber" type="number" class="form-control rounded-0" required minlength="9">
                                    </div>   
                                  <div class="col-md-6">
                                      <label for="">{{'Website' | translate}}</label>
                                      <input [(ngModel)]="user.website" name="website" type="text" class="form-control " required minlength="6">
                                  </div>
                              </div>
                              <div class="form-group">
                                    <div class="col-md-6">
                                        <input type="submit" value="Edit" class="btn btn-primary">
                                    </div>
                              </div>
                          </form>
                      </div>
                  </div>
            
              </div>
        

          </div>
      </div>
  </div>
</div>
